.primary{
	background-color:blue;
	border:none;
	border-radius:3px;
	padding:5px;
	color:white;
	cursor:default;
}
.secondary{
	background-color:grey;
	border:none;
	border-radius:3px;
	padding:5px;
	color:white;
	cursor:default;
}
.success{
	background-color:green;
	border:none;
	border-radius:3px;
	padding:5px;
	color:white;
	cursor:default;
}
.danger{
	background-color:red;
	border:none;
	border-radius:3px;
	padding:5px;
	color:white;
	cursor:default;
}
.warning{
	background-color:#EFCC00;
	border:none;
	border-radius:3px;
	padding:5px;
	color:black;
	cursor:default;
}
.info{
	background-color:skyblue;
	border:none;
	border-radius:3px;
	padding:5px;
	color:black;
	cursor:default;
}
.light{
	background-color:light grey;
	border:none;
	border-radius:3px;
	padding:5px;
	color:black;
	cursor:default;
}
.dark{
	background-color:black;
	border:none;
	border-radius:3px;
	padding:5px;
	color:white;
	cursor:default;
}
.link{
	background-color:transparent;
	text-decoration:underline;
	color:blue;
	padding:5px;
	border-radius:4px;
	border:none;
	cursor:pointer;
}